@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
	padding: 0px;
	margin: 0px;
	font-family: poppins, sans-serif;
	font-weight: 700;
	box-sizing: border-box;
}

#header{
    padding: 30px;
	width: 100%;
	background: #FFF;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: left;
}
#header #logo{
	font-size: 40px;
}
#header #logo span{
    color: #4ECDC4;
    font-style: italic;
}

#header nav{
    padding-top: 20px;
	color: #000;
}

#header nav a{

	font-size: 14px;
	text-decoration: none;
	padding: 10px;
	text-align: center;
	color: black;
}
#header nav a:last-child{
	color: white;
	background: #4ECDC4;
	padding: 10px 20px;
	margin-left: 30px;
	border-radius: 30px;
}

#header nav a:hover{
	opacity: 0.9;
}

#container{
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: left;
    padding-left: 200px;
	height: 575px;
}
#bg-container{
	width: 70%;
}


#content-container{
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#content-container h1{
	color: #4ECDC4;
	font-weight: 900;
	font-size: 80px;
	line-height: 0.9em;
	margin-bottom: 30px;
}
#content-container p{
	line-height: 1.8em;
	font-weight: 500;
}
#content-container a.button{
	border: none;
	outline: none;
	color: #FFF;
	background-color: #4ECDC4;
	padding: 16px 30px;
	border-radius: 40px;
	font-size: 16px;
	width: 160px;
	margin-top: 30px;
	cursor: pointer;
}
#content-container button:hover{
	opacity: 0.8;
}


#featuredvideo{
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: left;
    padding-top: 35px;
    padding-left: 200px;
	height: 575px;
}

#featuredvideo h2{
	color: #4ECDC4;
	font-weight: 700;
	font-size: 30px;
	line-height: 0.9em;
    margin-bottom: 30px;
}

#featuredvideo p{
	line-height: 1.8em;
    font-weight: 500;
    margin-bottom: 20px;
}

#homepageimg {
    padding-top: 80px;
}