

*{
	padding: 0px;
	margin: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
	font-weight: 600;
	box-sizing: border-box;
}

.zoom{
    width: 100%;
    height: 1000px;
    position: relative;
    overflow: hidden;
    background: url(assets/Background.PNG);
    background-size: cover;
}

.zoom::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    z-index: 1000;
    background: linear-gradient(transparent, #fff);

}

.zoom #layer1{
    position: absolute;
    width: 100%;
  /*  transform: translateX(-50%);*/
    z-index: 1;
}

.zoom #layer2{
    position: absolute;
    width: 100%;
    z-index: 2;
}

.zoom #layer3{
    position: absolute;
    width: 100%;
    z-index: 6;
}

.zoom #layer4{
    position: absolute;
    width: 100%;
    z-index: 7;
}

.zoom #layer5{
    padding-top: 175px; /*ONS: switched this from 200px to 175px*/
    position: absolute;
    width: 100%;
    z-index: 5;
}

.zoom #layer6{
    padding-top: 50px;
    position: absolute;
    width: 100%;
    z-index: 5;
}

.zoom #layer7{
    padding-top: 20px;
    position: absolute;
    width: 100%;
    z-index: 5;
}


#header{
    padding: 20px;      /*ONS: switched this from 60px to 20px*/
	width: 100%;
	background: #FFF;
	text-align: justify;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: left;
}


#header nav a{

	font-size: 20px;
	text-decoration: none;
	padding-top: 15px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 15px;
	text-align: center;
	color: black;
}


#header nav a:hover{
	opacity: 0.5;
    background-color: #70707037;
    border-radius: 25px;
}

#header nav a.active{
    background-color: #70707080;
    border-radius: 25px;
}

#container{
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: left;
    padding-left: 15px;
	height: 1388px;
}
#bg-container{
	width: 70%;
}


#content-container{
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#content-container h1{
	color: rgb(228, 104, 222);
	font-weight: 400;
	font-size: 80px;
	line-height: 0.9em;
	margin-bottom: 30px;
}
#content-container p{
	line-height: 1.8em;
	font-weight: 200;
}

.content {
    padding: 100px;
    box-sizing: border-box;

}

.content h2
{
    margin:0;
    padding:0;
    font-size: 4em;
}

.content p{
    font-size: 1em;
    font-style: bold;
}

/*================================= COMIC PART OF STORY PAGE =========================================================*/
.comic-container {

    position: relative;
    width: 100%;
    height: 3700px;

}

.leftHover{
    position: absolute;
    left: 0;
    height: 100%;
    width: 6%;
    background-color: rgb(81,113,165,.3);
}

.rightHover{
    position: absolute;
    right:0;
    height: 100%;
    width: 6%;
    background-color: rgb(203, 153, 126,.3);
}

.arrow1{
    position: sticky;
    top: 50%;
}

.arrow2{
    position: sticky;
    top: 50%;
    left: 100%;
}

.center{
    display: block;
    margin-left: 49.7%;
    margin-top: 5%;
    transform: translateX(-50%);
    border: 3px solid gray;
    border-radius: 70px;

}
.kid{
    display: none;
    margin-left: 55.3%;
    margin-top: 5%;
    transform: translateX(-50%);
    border: 3px solid gray;
    border-radius: 70px;
}

.adult{
    display: none;
    margin-left: 44.1%;
    margin-top: 5%;
    transform: translateX(-50%);
    border: 3px solid gray;
    border-radius: 70px;
}

.original{
    position: absolute;
    width: 90%;
    height: 100%;
}
.split{
    position: absolute;
    top: 0;
    width: 5%;
    height: 100%;

}

.original.middle{
    left:5%;
    background-color:white ;


}
.split.left{
    left: 0;
    background-color: rgb(81,113,165,.08);

}

.split.right{
    right: 0;
    background-color: rgb(203, 153, 126,.1);
}

.split.left, .split.right{
    transition: .2s all ease-in-out;
}

.hover-left .left{
    width: 90%;
    cursor: pointer;
}

.hover-left .kid{
    display: block;
}

.hover-left .right {
    width: 5%;
}

.hover-right .right{
    width: 90%;
    cursor: pointer;

}
.hover-right .adult{
    display: block;
}

.hover-right .left {
    width: 5%;
}

/*================= PROCESS PAGE ==========================*/

.process-container{
    position: relative;
    width: 100%;
    height: 2000px;
}

.verticalLine {
  border-left: 2px solid #707070;
  height: 112%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10%;
}

#dots{
    position: fixed;
    top: 44%;
}
.dot {
    height: 18px;
    width: 18px;
    border: 1px solid #36326780;
    border-radius: 25px;
    margin-left: 400%;
    margin-bottom: 52%;
}

.nav{display: none;}

.activeDot, .dot:hover{
    background-color: #36326780;
}

.dot:hover .nav{
    display: block;
    font-family: Helvetica Neue;
    color: #36326780;
    font-size: 14px;
    margin-left: 160%;
    margin-bottom: 10%;
    white-space: nowrap;
}

.backUp{
    position: fixed;
    left: 5.24%;
    top: 44%;
    z-index: -1;
}

h3{
    margin-top: 4%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: #36326799;
    letter-spacing: 5px;
}

h4{
    margin-top: .5%;
    margin-left: 40%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    color: #36326799;
}
p{
    margin-top: -6%;
    padding:11%;
    text-align: justify;
    font-size: 17px;
    color: #333333;

}

#box1{
    border-radius: 70px;
    position: absolute;
    top: 8%;
    left: 15%;
    width:70%;
    height: 30%;
    background-color: rgb(217,211,232);
}

#box2{
    border-radius: 70px;
    position: absolute;
    top: 48%;
    left: 15%;
    width:70%;
    height: 30%;
    background-color: rgb(217,211,232);
}

.vid{ 
    position: absolute;
    top:24%;
    left:19%;
    border: 3px solid #7e7e7e7e;
}

#box3{
    border-radius: 70px;
    position: absolute;
    top: 88%;
    left: 15%;
    width:70%;
    height: 30%;
    background-color: rgb(217,211,232);
}

#box4{
    border-radius: 70px;
    position: absolute;
    top: 120%;
    left: 15%;
    width:70%;
    height:6%;
    background-color: rgb(217,211,232);
}
.last{
    margin-top: -1%;
    padding:5%;
    text-align: justify;
    font-size: 17px;
    color: #333333;

}

/*=======================  Authors' page ============================*/

.authorcontainer{
    margin-left: 200px;
    display: inline-block;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.authorcontainer .card{
    position: relative;
    width: 320px;
    height: 450px;
    background: #363267;
    border-radius: 20px;
    overflow: hidden;
}

.authorcontainer .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(255, 181, 190);
    clip-path: circle(150px at 80% 20%);
}


.authorcontainer .card:after{
    content: 'Ons';
    position: absolute;
    left: -10%;
    top: 40%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,255,0.07);
    transition: 0.5s;
}

.authorcontainer .card:hover:after{
    font-size: 16em;
}


.authorcontainer .card .photo{
    position: absolute;
    top: 60%;
    left: 18%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;
    height: 220px;
    transition: 0.5s;

}
.authorcontainer .card:hover .photo{
    top: 50%;
}
.authorcontainer .card .photo img{
    top: 30%;
    left:50%;
    border-radius: 50%;
    transform: translateY(-50%);
}

.authorcontainer .card .authorcontent{
    position: absolute;
    bottom:50px;
    width: 100%;
    height: 100px;
    font-size: 15px;
    text-align: center;
    transition: 1s;
    z-index: 10;
    color: #fff;
}


.authorcontainer .card:hover .authorcontent{
    height: 170px;
    font-size: 25px;
}

.authorcontainer .card .authorcontent a{
    display: inline-block;
    padding: 10px 20px;
    color: #363267;
    background: #fff;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 550;

    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.authorcontainer .card:hover .authorcontent a{
    opacity: 1;}


/*---------------------------------------------------------------
-------------------------------------------------------------------*/
    .authorcontainer1{
        margin-right: 200px;
        display: inline-block;
        padding-left: 60px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
        display: flex;
        justify-content: left;
        align-items: center;
        min-height: 100vh;
        background: #ffffff;
    }
    
    .authorcontainer1 .card1{
        position: relative;
        width: 320px;
        height: 450px;
        background: #363267;
        border-radius: 20px;
        overflow: hidden;
    }
    
    .authorcontainer1 .card1:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgb(255, 181, 190);
        clip-path: circle(150px at 80% 20%);
    
    }
    
    
    .authorcontainer1 .card1:after{
        content: 'Shaurya';
        position: absolute;
        left: -10%;
        top: 50%;
        font-size: 8em;
        font-weight: 800;
        font-style: italic;
        color: rgba(255,255,255,0.07);
        transition: 0.5s;
    }
    
    .authorcontainer1 .card1:hover:after{
        font-size: 12em;
    }
    
    
    .authorcontainer1 .card1 .photo1{
        position: absolute;
        top: 60%;
        left: 18%;
        transform: translateY(-50%);
        z-index: 100;
        width: 100%;
        height: 220px;
        transition: 0.5s;
    
    }
    .authorcontainer1 .card1:hover .photo1{
    
        top: 50%;
    
    }
    
    
    .authorcontainer1 .card1 .photo1 img{
        top: 30%;
        left:50%;
        border-radius: 50%;
        transform: translateY(-50%);
    }
    
    .authorcontainer1 .card1 .authorcontent1{
        position: absolute;
        bottom:50px;
        width: 100%;
        height: 100px;
        font-size: 15px;
        text-align: center;
        transition: 1s;
        z-index: 10;
        color: #fff;
    }
    
    
    .authorcontainer1 .card1:hover .authorcontent1{
        height: 170px;
        font-size: 25px;
    }
    
    .authorcontainer1 .card1 .authorcontent1 a{
        display: inline-block;
        padding: 10px 20px;
        color: #363267;
        background: #fff;
        border-radius: 20px;
        margin-top: 20px;
        text-decoration: none;
        font-weight: 550;
    
        opacity: 0;
        transform: translateY(50px);
        transition: 0.5s;
    }
    
    .authorcontainer1 .card1:hover .authorcontent1 a{
        opacity: 1;}


/*---------------------------------------------------------------
-------------------------------------------------------------------*/

.authorcontainer2{
    margin-left: 200px;
    display: inline-block;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}

.authorcontainer2 .card2{
    position: relative;
    width: 320px;
    height: 450px;
    background: #363267;
    border-radius: 20px;
    overflow: hidden;
}

.authorcontainer2 .card2:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgb(255, 181, 190);
    clip-path: circle(150px at 80% 20%);

}


.authorcontainer2 .card2:after{
    content: 'Ilya';
    position: absolute;
    top: 40%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255,255,255,0.07);
    transition: 0.5s;
}

.authorcontainer2 .card2:hover:after{
    font-size: 16em;
}


.authorcontainer2 .card2 .photo2{
    position: absolute;
    top: 60%;
    left: 18%;
    transform: translateY(-50%);
    z-index: 100;
    width: 100%;
    height: 220px;
    transition: 0.5s;

}
.authorcontainer2 .card2:hover .photo2{

    top: 50%;

}


.authorcontainer2 .card2 .photo2 img{
    top: 30%;
    left:50%;
    border-radius: 50%;
    transform: translateY(-50%);
}

.authorcontainer2 .card2 .authorcontent2{
    position: absolute;
    bottom:50px;
    width: 100%;
    height: 100px;
    font-size: 15px;
    text-align: center;
    transition: 1s;
    z-index: 10;
    color: #fff;
}


.authorcontainer2 .card2:hover .authorcontent2{
    height: 170px;
    font-size: 25px;
}

.authorcontainer2 .card2 .authorcontent2 a{
    display: inline-block;
    padding: 10px 20px;
    color: #363267;
    background: #fff;
    border-radius: 20px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 550;

    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.authorcontainer2 .card2:hover .authorcontent2 a{
    opacity: 1;}




/*---------------------------------------------------------------
-------------------------------------------------------------------*/
    .authorcontainer3{
        margin: 0;
        display: inline-block;
        padding-left: 60px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
        display: flex;
        justify-content: left;
        align-items: center;
        min-height: 100vh;
        background: #ffffff;
    }
    
    .authorcontainer3 .card3{
        position: relative;
        width: 320px;
        height: 450px;
        background: #363267;
        border-radius: 20px;
        overflow: hidden;
    }
    
    .authorcontainer3 .card3:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:rgb(255, 181, 190);
        clip-path: circle(150px at 80% 20%);
    
    }
    
    
    .authorcontainer3 .card3:after{
        content: 'Shamma';
        position: absolute;
        left: -10%;
        top: 50%;
        font-size: 8em;
        font-weight: 800;
        font-style: italic;
        color: rgba(255,255,255,0.07);
        transition: 0.5s;
    }
    
    .authorcontainer3 .card3:hover:after{
        font-size: 12em;
    }
    
    
    .authorcontainer3 .card3 .photo3{
        position: absolute;
        top: 60%;
        left: 18%;
        transform: translateY(-50%);
        z-index: 100;
        width: 100%;
        height: 220px;
        transition: 0.5s;
    
    }
    .authorcontainer3 .card3:hover .photo3{
    
        top: 50%;
    
    }
    
    
    .authorcontainer3 .card3 .photo3 img{
        top: 30%;
        left:50%;
        border-radius: 50%;
        transform: translateY(-50%);
    }
    
    .authorcontainer3 .card3 .authorcontent3{
        position: absolute;
        bottom:50px;
        width: 100%;
        height: 100px;
        font-size: 15px;
        text-align: center;
        transition: 1s;
        z-index: 10;
        color: #fff;
    }
    
    
    .authorcontainer3 .card3:hover .authorcontent3{
        height: 170px;
        font-size: 20px;
    }
    
    .authorcontainer3 .card3 .authorcontent3 a{
        display: inline-block;
        padding: 10px 20px;
        color: #363267;
        background: #fff;
        border-radius: 20px;
        margin-top: 20px;
        text-decoration: none;
        font-weight: 550;
    
        opacity: 0;
        transform: translateY(50px);
        transition: 0.5s;
    }
    
    .authorcontainer3 .card3:hover .authorcontent3 a{
        opacity: 1;}

